*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-family: 'Lustria', serif;
	scroll-behavior: smooth;
}

.upper-bar{
	position: sticky;
	top: 0;
	border-bottom: 1px solid #eee;
	background: #fff;
	color: #333;
}
.upper-list li{
	cursor: pointer;
	display: inline-block;
	padding: 0.8rem 1rem;
	font-size: 1.4rem;
	transition: background 0.3s;
	vertical-align: middle;
}
.upper-list li:hover{
	background: #0000000a;
}
.upper-logo-image{
	height: 2rem;
	vertical-align: middle;
}
.upper-self{
	font-family: 'Spectral', serif;
	font-weight: 600;
}
.upper-item{
	font-family: 'Spectral', serif;
	font-weight: 300;
}
.analysis-card{
	padding: 1rem;
}
.analysis-card .analysis-panel{
	display: inline-block;
	width: 45%;
	padding: 2rem;
	color: #777;
	font-size: 1.2rem;
	vertical-align: top;
}
.analysis-write{
	width: 100%;
	min-height: 10rem;
	padding: 1rem;
	background: #00000011;
	color: #555;
	font-size: inherit;
}
.analysis-panel{
	border: 1px solid #00000011;
}
.analysis-panel span{
    border: 1px dashed transparent;
	transition: 0.3s;
    transition-delay: 0.1s;
}
.analysis-panel span:not(.phrase):before{
	content: attr(description);
	pointer-events: none;
	opacity: 0;
	position: absolute;
	margin-top: 2rem;
	padding: 1rem;
	box-shadow: 1px 2px 3px 1px #00000022;
	background: #fff;
	color: #777;
	transition-delay: 0.3s;
	transition: 0.3s;
	display: block;
	white-space: pre-wrap;
}
.analysis-panel span:hover{
	border: 1px dashed #999;
	transition-delay: 0.2s;
}
.analysis-panel span:hover:before{
	opacity: 1;
	transition-delay: 0.3s;
}
.analysis-panel span.wrong{
	/*text-decoration: underline wavy #dd2255;*/
	background-image:
	linear-gradient(45deg, transparent 65%, red 80%, transparent 90%),
	linear-gradient(135deg, transparent 5%, red 15%, transparent 25%),
	linear-gradient(135deg, transparent 45%, red 55%, transparent 65%),
	linear-gradient(45deg, transparent 25%, red 35%, transparent 50%);
	background-repeat:repeat-x;
	background-size: 8px 2px;
	background-position:0 95%;
}
.analysis-panel span.wrong:before{
	color: #dd2255;
}
.analysis-panel span.borrow{
	font-style: italic;
}
.analysis-panel span.article{
	color: purple;
}
.analysis-panel span.pronoun{
	color: green;
}
.analysis-panel span.noun{
	color: #333;
}
.analysis-panel span.verb{
	color: #999;
}
.analysis-panel text.verse{
	background: #00000000;
	transition: 0.2s;
}
.analysis-panel text.verse:hover{
	background: #00000011;
}
.analysis-panel span.better{
	background-image:
	linear-gradient(45deg, transparent 65%, blue 80%, transparent 90%),
	linear-gradient(135deg, transparent 5%, blue 15%, transparent 25%),
	linear-gradient(135deg, transparent 45%, blue 55%, transparent 65%),
	linear-gradient(45deg, transparent 25%, blue 35%, transparent 50%);
	background-repeat:repeat-x;
	background-size: 8px 2px;
	background-position:0 95%;
}
.analysis-panel span.fix{
	cursor: pointer;
	/*border: 1px dotted blue;*/
	background: blue;
	color: #fff;
}
